{{!< default}}
<link rel="stylesheet" type="text/css" href="/bower_components/fullpage.js/jquery.fullPage.css" />
<script type="text/javascript" src="/bower_components/fullpage.js/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/bower_components/video.js/dist/video.min.js"></script>
<script type="text/javascript" src="/bower_components/BigVideo/lib/bigvideo.js"></script>
<script>
	$(document).ready(function(){
		$("#div_fullpage").fullpage({
            autoScrolling: false,
            fitToSection:false
		});
	})
    $(function() {
        var BV = new $.BigVideo();
        BV.init();
        BV.show('/vids//produce.mp4',{ambient:true});
    });
</script>
<div id="div_fullpage">
    <div class="section " id ="div_section_home">
		<div class="homepage_slide">
			<div class="banner-video">
				<!--<video width="100%" autoplay muted>-->
					<!--<source src="/vids//produce.mp4">-->
				<!--</video>-->
			</div>
			<div class="white-block"></div>
			<div class="container">
				<div class="banner_title">
					<p class="h1">干冰冷链供应领跑者</p>
					<a href="#div_companyIntro" id="a_companyIntro" class="h5">公司简介</a>
					<a href="#div_consult" id="a_consult" class="h5">产品咨询</a>
				</div>
			</div>
		</div>

        <div class="part">
            <header class="text-center h2">厂房实拍
                <div class="line"></div>
            </header>
		</div>
	</div>
	<div class="">
		<div class="container part">
			<div class="shoot row">
				<div class="col-md-6">
					<div href="" class="card">
						<p>振信气体公司成立于1998年，注册资金500万元，是一家专业从事为民用及工业企业配套的气体公司,年销售产值3000余万元。公司由三块组成：钢瓶气由上海振信新帅气体有限公司管理；工程项目由上海振信盖斯实业有限公司管理；干冰及液态气体由上海振信气体有限公司管理。公司有较强的生产配套能力，主要生产二氧化碳及其它液态气体。</p>
						<p class="text-right"><small class="min_font">右图为实拍&nbsp;<i class="fa fa-angle-right"></i></small></p>
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1 photo">
                    <div id="workshop" class="carousel slide">
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators">
                            <li data-target="#workshop" data-slide-to="0" class="active"></li>
                            <li data-target="#workshop" data-slide-to="1"></li>
                            <li data-target="#workshop" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/images/ZGI/shoot-workshop1.jpg" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="/images/ZGI/shoot-workshop2.jpg" alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="/images/ZGI/shoot-workshop3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="carousel-control left" href="#workshop"
                           data-slide="prev"></a>
                        <a class="carousel-control right" href="#workshop"
                           data-slide="next"></a>
                    </div>
				</div>
			</div>
		</div>
        <div class="part">
            <header class="text-center h2">钢瓶展示
                <div class="line"></div>
            </header>
			<div class="bg-grey">
				<div class="container">
					<div class="shoot row">
						<div class="col-md-5 photo">
                            <div id="cylinder" class="carousel slide">
                                <ol class="carousel-indicators">
                                    <li data-target="#cylinder" data-slide-to="0" class="active"></li>
                                    <li data-target="#cylinder" data-slide-to="1"></li>
                                    <li data-target="#cylinder" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/images/ZGI/shoot-cylinder1.jpg" alt="First slide">
                                    </div>
                                    <div class="item">
                                        <img src="/images/ZGI/shoot-cylinder2.jpg" alt="Second slide">
                                    </div>
                                    <div class="item">
                                        <img src="/images/ZGI/shoot-cylinder3.jpg" alt="Third slide">
                                    </div>
                                </div>
                                <a class="carousel-control left" href="#cylinder"
                                   data-slide="prev"></a>
                                <a class="carousel-control right" href="#cylinder"
                                   data-slide="next"></a>
                            </div>
						</div>
                        <div class="col-md-6 col-md-offset-1 ">
                            <div href="" class="card">
                                <p>振信气体公司成立于1998年，注册资金500万元，是一家专业从事为民用及工业企业配套的气体公司,年销售产值3000余万元。公司由三块组成：钢瓶气由上海振信新帅气体有限公司管理；工程项目由上海振信盖斯实业有限公司管理；干冰及液态气体由上海振信气体有限公司管理。公司有较强的生产配套能力，主要生产二氧化碳及其它液态气体。</p>
                                <small class="min_font"><i class="fa fa-angle-left"></i>&nbsp;左图为实拍</small>
                            </div>
                        </div>
					</div>
				</div>
			</div>
        </div>
        <div class="part container">
            <header class="text-center h2">生产过程
                <div class="line"></div>
            </header>
            <div class="shoot row">
                <div class="col-md-6">
                    <div href="" class="card">
                        <p>公司有较强的生产配套能力，主要生产二氧化碳及其它液态气体。有高纯气体生产许可证及二氧化碳食品级生产许可证（QS证沪XK13-217-00122）。企业有二氧化碳干冰生产机10余台。有美国、日本等多种干冰机，可生产粒状、块状等各类干冰，最大每块干冰可达20几公斤,每日可生产250克块状干冰30余吨。</p>
                        <p class="text-right"><small class=" min_font">右图为实拍&nbsp;<i class="fa fa-angle-right"></i></small></p>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 photo">
                    <div id="produce" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#produce" data-slide-to="0" class="active"></li>
                            <li data-target="#produce" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/images/ZGI/shoot-produce1.jpg" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="/images/ZGI/shoot-produce2.jpg" alt="Second slide">
                            </div>
                        </div>
                        <a class="carousel-control left" href="#produce"
                           data-slide="prev"></a>
                        <a class="carousel-control right" href="#produce"
                           data-slide="next"></a>
                    </div>
                </div>
            </div>
        </div>
        
		<div class="part" id="div_companyIntro">
			<header class="text-center h2">部分合作客户
				<div class="line"></div>
			</header>
			<div class="cooperation">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3  col-sm-6 cooperation_logo text-center">
							<img src="/images/ZGI/logo_yuanzu.png" height="40" />
						</div>
						<div class="col-lg-3 col-md-3  col-sm-6 cooperation_logo text-center">
							<img src="/images/ZGI/logo_yiguo.png" height="40" />
						</div>
						<div class="col-lg-3 col-md-3  col-sm-6 cooperation_logo text-center">
							<img src="/images/ZGI/logo_pepsi.png" height="40" />
						</div>
						<div class="col-lg-3 col-md-3  col-sm-6 cooperation_logo text-center">
							<img src="/images/ZGI/logo_coca.png" height="40" />
						</div>
						<div class="col-lg-3 col-md-3  col-sm-6 cooperation_logo text-center">
							<img src="/images/ZGI/logo_hagen.png" height="40" />
						</div>
						<div class="col-lg-3 col-md-3  col-sm-6 cooperation_logo text-center">
							<img src="/images/ZGI/logo_yili.png" height="40" />
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="part">
            <!--<header class="text-center h2">公司简介-->
            <!--<div class="line"></div>-->
            <!--</header>-->
            <div class="companyIntro">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 text-center detail_card vertical_line">
                            <p class="detail_blue"><span class="h2" id="span_year">1998</span><span class="h2">年</span></p>
                            <p class="detail_white">成立</p>
                        </div>
                        <div class="col-lg-3 col-md-3 text-center detail_card vertical_line">
                            <p class="detail_blue"><span class="h2" id="span_sale">3000</span><span class="h2">万</span></p>
                            <p class="detail_white">年销售额</p>
                        </div>
                        <div class="col-lg-3 col-md-3 text-center detail_card vertical_line">
                            <p class="detail_blue"><span class="h2" id="span_produce">100</span><span class="h2">吨</span></p>
                            <p class="detail_white">日产量</p>
                        </div>
                        <div class="col-lg-3 col-md-3 text-center detail_card">
                            <p class="detail_blue"><span class="h2">食品级</span></p>
                            <p class="detail_white">生产许可证</p>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center">
                            <a class="btn_qualification" href="/contact">公司资质</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="part container" id="div_consult">
			<header class="text-center h2">联系我们
				<div class="line"></div>
			</header>
			<div class="row info">
				<div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">
					<div class="info_card clearfix ">
						<img src="/images/ZGI/icon_phone.png" width="60" class="pull-left" />
						<div class="pull-left">
							<p class="h3 info_name">电话咨询</p>
							<p class="h6 info_detail">021-68466455</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">
					<div class="info_card clearfix ">
						<img src="/images/ZGI/icon_mail.png" width="60" class="pull-left" />
						<div class="pull-left">
							<p class="h3 info_name">邮件咨询</p>
							<p class="h6 info_detail">zhenxingaisi@hotmail.com</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">
					<div class="info_card clearfix ">
						<img src="/images/ZGI/icon_fax.png" width="60" class="pull-left" />
						<div class="pull-left">
							<p class="h3 info_name">公司传真</p>
							<p class="h6 info_detail">021-68466134</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">
					<div class="info_card clearfix ">
						<img src="/images/ZGI/icon_map.png" width="60" class="pull-left" />
						<div class="pull-left">
							<p class="h3 info_name">上海振信有限公司</p>
							<p class="h6 info_detail">上海市宝山区长江西路955号</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
