{{!< default}}
<link rel="stylesheet" type="text/css" href="/bower_components/fullpage.js/jquery.fullPage.css" />
<script type="text/javascript" src="/bower_components/fullpage.js/jquery.fullPage.min.js"></script>

<script>
	$(document).ready(function(){
		$("#div_fullpage").fullpage({
            autoScrolling: false,
            fitToSection:false
           
		});
	})
</script>
<div id="div_fullpage">
    <div class="section " id ="div_section_home">
		<div class="homepage_slide">
			<div class="container">
				<div class="banner_title">
					<p class="h1">干冰冷链供应领跑者</p>
					<button class="btn h4" type="button">公司简介</button>
					<button class="btn h4" type="button">购买产品</button>
				</div>
			</div>
		</div>
		<div class="part">
            <header class="text-center h2">产品应用
                <div class="line"></div>
            </header>
		</div>
	</div>
	<div class="section">
		<div class="container part">
			<div class="Scenarios row">
				<div class="col-lg-3">
					<a href="" class="Scenarios_card">
						<img src="/images/ZGI/img_apply3.png" width="200"  />
						<p class="h5 text-center">食用干冰</p>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="" class="Scenarios_card">
						<img src="/images/ZGI/img_apply2.png" width="200"  />
						<p class="h5 text-center">降温制冷</p>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="" class="Scenarios_card">
						<img src="/images/ZGI/img_apply1.png" width="200"  />
						<p class="h5 text-center">干冰清洁</p>
					</a>
				</div>
				<div class="col-lg-3">
					<a href="" class="Scenarios_card">
						<img src="/images/ZGI/img_apply4.png" width="200"  />
						<p class="h5 text-center">舞台烟雾</p>
					</a>
				</div>
			</div>
		</div>
		<div class="part">
			<header class="text-center h2">部分合作客户
				<div class="line"></div>
			</header>
			<div class="cooperation">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 cooperation_logo text-center">
							<img src="/images/ZGI/logo_yuanzu.png" height="40" />
						</div>
						<div class="col-lg-3 cooperation_logo text-center">
							<img src="/images/ZGI/logo_yiguo.png" height="40" />
						</div>
						<div class="col-lg-3 cooperation_logo text-center">
							<img src="/images/ZGI/logo_pepsi.png" height="40" />
						</div>
						<div class="col-lg-3 cooperation_logo text-center">
							<img src="/images/ZGI/logo_coca.png" height="40" />
						</div>
						<div class="col-lg-3 cooperation_logo text-center">
							<img src="/images/ZGI/logo_hagen.png" height="40" />
						</div>
						<div class="col-lg-3 cooperation_logo text-center">
							<img src="/images/ZGI/logo_yili.png" height="40" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="part container">
			<header class="text-center h2">了解更多
				<div class="line"></div>
			</header>
			<div class="row info">
				<div class="col-lg-4 col-lg-offset-2">
					<div class="info_card clearfix ">
						<img src="/images/ZGI/icon_phone.png" width="60" class="pull-left" />
						<div class="pull-left">
							<p class="h3 info_name">电话咨询</p>
							<p class="h6 info_detail">021-68466455</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-lg-offset-2">
					<div class="info_card clearfix ">
						<img src="/images/ZGI/icon_mail.png" width="60" class="pull-left" />
						<div class="pull-left">
							<p class="h3 info_name">邮件咨询</p>
							<p class="h6 info_detail">zhenxingaisi@hotmail.com</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-lg-offset-2">
					<div class="info_card clearfix ">
						<img src="/images/ZGI/icon_fax.png" width="60" class="pull-left" />
						<div class="pull-left">
							<p class="h3 info_name">公司传真</p>
							<p class="h6 info_detail">021-68466134</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-lg-offset-2">
					<div class="info_card clearfix ">
						<img src="/images/ZGI/icon_map.png" width="60" class="pull-left" />
						<div class="pull-left">
							<p class="h3 info_name">上海振信有限公司</p>
							<p class="h6 info_detail">上海市宝山区长江西路955号</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
