<link rel="stylesheet" type="text/css" href="/bower_components/fullpage.js/jquery.fullPage.css"/>
<script type="text/javascript" src="/bower_components/fullpage.js/jquery.fullPage.min.js"></script>

<script>
    $('#fullpage').fullpage({
        sectionsColor: ['yellow', 'orange', '#C0C0C0', '#ADD8E6'],
        verticalCentered: false
    });

</script>

<style>
    .section {
        text-align: center;
    }

    #section1 {
        height: 80% !important;
    }

    .box {
        padding: 50px;
    }
</style>

<div id="fullpage">
    <div class="section" id="section1">
        <div class="box">One</div>
    </div>
	
    <div class="section">
        <div class="demo" style="height: 2000px;">
			Demo
        </div>
    </div>

</div>

</div>
