@import "common.less";

.homepage_slide{
  background: url("/images/ZGI/bg_banner.png") no-repeat ;
  background-size: cover;
  padding-top: 10%;
  height:860px;
  .h1{
	color: @white;
	padding-bottom: 40px;
  }
  button{
	color: @white;
	line-height: 4rem;
	background: transparent;
	border:solid 1px @white;
  }
}

.part{
  header{
	line-height: 12rem;
	.line{
	  width:100px;
	  height:1px;
	  background: @grey_e5;
	  margin:0 auto;
	}
  }
  .Scenarios{
	margin: 50px 80px;
	.Scenarios_card{
	  display: block;
	  p{
		color: @blue_txt;
	  }
	}
  }
}
